{% extends 'layout.html.twig' %}

{% block content_header %}
    <h1>Account <small>New</small></h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('account_index') }}"><i class="fa fa-dashboard"></i> Account</a></li>
        <li class="active">New</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Account creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('account_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
